html {
	height : 100%;
	position : relative;
}

body {
	height : 100%;
	font-family : helvetica;
	margin : 0;
	width : 100%;
}

* {
	box-sizing : border-box;
}

.panel {
	display : none;
	background : white;
	overflow : hidden;

}
.panel-contents {
	padding : 12px;
	position : relative;
}

#alpha {
	font-size : 3em;
	background : lightgreen;
}

h1 {
	text-align : center;
}
img {
	width : 100%;
}

.list {
	list-style : none;
	padding : 0;
	margin : 0;
}

.list li {
	padding : 12px;
	font-size : 2em;
	color : #777;
	border-bottom : solid 1px grey;
	overflow : hidden;
}

input[type=checkbox] {
	float : right;
	display : inline-block;
}
